# Flutter/Dart related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/

# Android
*.iml
.gradle/
.idea/
local.properties
*.hprof
*.log
build/

# iOS
Pods/
Flutter/Flutter.podspec
flutter_export_environment.sh
.xcworkspace/
.idea/
*.xcuserstate

# Firebase and Google API keys should also be ignored
google-services.json
google-services.plist
*.keystore
*.jks

# Sensitive API keys and gradle files
gradle.properties

# Other IDE files
.vscode/

# macOS and other OS files
.DS_Store
Thumbs.db

# IntelliJ related files
*.iml

# Android build files
build/
